section {
  margin-top: 100px;
}
.col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.card {
  width: 600px;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 #8cb9bd, 0 6px 20px 0 #fefbf6;
  cursor: pointer;
}
::ng-deep .custom-spinner-color circle {
  stroke: #8cb9bd;
}

.paginator {
  margin-top: 20px;
  background: linear-gradient(135deg, #8cb9bd, #fefbf6);
}
::ng-deep .mat-mdc-paginator-page-size-label,
::ng-deep .mat-mdc-paginator-page-size-value {
  display: none;
}

@media screen and (max-width: 600px) {
  .card {
    width: 350px;
  }
}
